<style>
        body {
            font-family: 'Indie Flower', cursive, sans-serif; /* Set the font-family to Indie Flower */
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            background-color: #FFFFFF; /* Darker background color */
        }

        .container {
            text-align: center;
            background-color: #34495e; /* Darker background for the container */
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Darker box shadow for more contrast */
        }

        textarea {
            width: calc(100% - 20px); /* Adjusted width to consider padding */
            height: 100px;
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #2c3e50; /* Darker border color */
            border-radius: 5px;
            color: #2c3e50; /* Darker text color */
            background-color: #ecf0f1; /* Lighter background color for textarea */
            font-family: 'Indie Flower', cursive, sans-serif; /* Set the font-family to Indie Flower */
        }

        button {
            padding: 10px;
            margin: 5px;
            cursor: pointer;
            background-color: #000; /* Black button background color */
            color: #fff; /* White text color */
            border: none;
            border-radius: 5px;
            font-family: 'Indie Flower', cursive, sans-serif; /* Set the font-family to Indie Flower */
        }

        button:hover {
            background-color: #333; /* Darker black on hover */
        }

        audio {
            width: 100%;
            margin-top: 10px;
        }

        h1 {
            color: #fff; /* White text color for the title */
            font-family: 'Indie Flower', cursive, sans-serif; /* Set the font-family to Indie Flower */
        }
    </style>
